# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Flask uploads
static/uploads/
*.sqlite3

# dotenv
.env

# Logs
*.log

# PyCharm / VSCode
.idea/
.vscode/

# macOS
.DS_Store

# Ignore model weights 
best.pt