@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgb(9, 9, 240), rgb(42, 42, 163));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background: white;
    width: 50%;
    max-width: 1200px;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.title {
    color: #0072ff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 30px;
}

/* Upload section */
.upload-card {
    background: rgb(5, 2, 165);
    padding: 15px;
    border-radius: 15px;
    width: 160px;
    margin: auto;
    color: white;
    cursor: pointer;
    margin-bottom: 40px;
}

.upload-card:hover {
    background: rgb(70, 68, 200);
}

.custom-file-upload {
    cursor: pointer;
    font-weight: 500;
}

/* Hide default file input */
#fileInput {
    display: none;
}

/* Images section */
.image-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.image-card {
    background: rgb(5, 2, 165);
    padding: 20px;
    border-radius: 15px;
    width: 450px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.image-card:hover {
    transform: translateY(-8px);
}

.image-card h3 {
    color: white;
    margin-bottom: 15px;
}

.image-card img {
    width: 100%;
    border-radius: 10px;
}
